# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can allowlist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!dashboards/
!dashboards/** 
!includes/
!includes/*
!packages/
!packages/**
!themes/
!themes/*
!www/icons/*

# Ignore folders
.cloud
.storage
.vscode

# Ensure these files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
googleassistant_serviceaccount.json
includes/googleassistant_serviceaccount.json
.google.token
.spotify-token-cache
.sonoff.json

# Ignore Python cache files 
__pycache__/
