# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can allowlist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!dashboards/
!dashboards/** 
!includes/
!includes/*
!packages/
!packages/**
!themes/
!themes/*
!www/icons/*
!custom_templates/
!custom_templates/**

# Ignore folders
.cloud
.storage
.vscode

# Ensure these files are ignored, otherwise your secret data/credentials will leak.
.google.token
.sonoff.json
.spotify-token-cache
AGENTS.md
googleassistant_serviceaccount.json
includes/googleassistant_serviceaccount.json
includes/googleassistant_serviceaccount.json.backup
ip_bans.yaml
known_devices.yaml
secrets.yaml

# Ignore Python cache files 
__pycache__/
