# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can allowlist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!automation/
!automation/*
!blueprints
!custom_components/
custom_components/*
!custom_components/rss_feed_template/
!custom_components/rss_feed_template/*
!archive/
!archive/*
!includes/
!includes/*
!lovelace/
!lovelace/*
!themes/
!themes/*

# Ignore folders
.cloud
.storage
.vscode

# Ensure these files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
googleassistant_serviceaccount.json
includes/googleassistant_serviceaccount.json
.google.token
.spotify-token-cache

# Ignore Python cache files 
__pycache__/
