#################################################################
## Home Assistant Core
#################################################################
homeassistant:
  auth_providers:
    - type: homeassistant
  auth_mfa_modules:
    - type: totp
      name: Authenticator app
    - type: notify
      message: "Access token: {}"
      include:
        - mobile_app_sm_a556b
  packages: !include_dir_merge_named packages/

frontend:
  themes: !include_dir_merge_named themes/
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js
    - /hacsfiles/kiosk-mode/kiosk-mode.js?v1.0.0

history:

http:
  ip_ban_enabled: true
  login_attempts_threshold: 2
  use_x_forwarded_for: true
  trusted_proxies: !secret http_trusted_proxies

logbook:
  exclude:
    entity_globs:
      - binary_sensor.pir*
      - number.awtrix_*
      - sensor.awtrix*
      - sensor.dsmr_*
      - sensor.*_last_seen
      - sensor.slimmelezer*
    domains:
      - automation
      - input_boolean
      - media_player

logger:
  default: warn
  logs:
    homeassistant.components.analytics: info # I'd like to see what is sent
  filters:
    custom_components.xiaomi_miot.fan:
      - "Unable to discover the device"
    homeassistant.components.goodwe.coordinator:
      - "No valid response received even after 10 retries"
    homeassistant.components.automation.weerhuisje_update_air_quality_sensors:
      - "Timeout"
      - "timeout"
    homeassistant.helpers.entity:
      - "Update of fan.zhimi_cpa4_3bce_air_purifier is taking over 10 seconds"
    pychromecast.socket_client:
      # Mute cast reconnection warnings/errors
      - "Error communicating with socket, resetting connection"
      - "Error reading from socket"
      - "Failed to connect to service"
      - "Heartbeat timeout, resetting connection"
    py.warnings:
      - "functools.partial"

lovelace:
  mode: yaml
  resources: !include dashboards/resources.yaml
  dashboards:
    lovelace-admin:
      mode: yaml
      filename: dashboards/admin/admin.yaml
      title: Admin
      icon: mdi:security
      show_in_sidebar: true
      require_admin: true
    lovelace-map:
      mode: yaml
      filename: dashboards/map/map.yaml
      title: Kaart
      icon: mdi:map
      show_in_sidebar: true
      require_admin: false
    tsv-dashboards:
      mode: yaml
      filename: dashboards/tsv/tsv.yaml
      title: TSV
      icon: mdi:tablet-dashboard
      show_in_sidebar: true
      require_admin: false

recorder:
  exclude:
    domains:
      - camera
      - sun
      - update
    entity_globs:
      - sensor.*_geocoded_*
      - sensor.*_last_seen
      - sensor.*_uptime
      - sensor.*_wifi_signaal
      - sensor.*_voltage
      - sensor.afvalinfo_*
      - sensor.dsmr_reading_phase_*
      - sensor.on_grid_*
      - sensor.pv1_*
      - sensor.pv2_*
      - sensor.slimmelezer*
      - sensor.smartevse_6360_esp*
      - sensor.smartevse_6360_mains*
      - sensor.smartevse_mains_*
      - sensor.sun_*
      - sensor.zonneplan_for*
    entities:
      - sensor.awtrix_6caff8_current_app
      - sensor.awtrix_6caff8_free_ram
      - sensor.droger_completion_time
      - sensor.dsmr_consumption_gas_currently_delivered
      - sensor.dsmr_reading_electricity_currently_delivered
      - sensor.smartevse_6360_evchargepower
      - sensor.smartevse_6360_evenergycharged
      - sensor.smartevse_6360_wifirssi
      - sensor.todays_total_production_preserved

#################################################################
## Includes
#################################################################
automation: !include automations.yaml
google_assistant: !include includes/googleassistant.yaml
script: !include scripts.yaml

#################################################################
## default_config items not included elsewhere
#################################################################
#default_config:
application_credentials:
backup:
bluetooth:
cloud:
dhcp:
diagnostics:
energy:
go2rtc:
  debug_ui: true
homeassistant_alerts:
media_source:
mobile_app:
my:
ssdp:
stream:
  ll_hls: true
sun:
webhook:
zeroconf:

#################################################################
## Components not using includes
#################################################################
command_line:
  notify:
    # Notify bogus service
    # Used to let automations not error out
    name: bogus
    command: ":" # bash no-op command

sonos:
  media_player:
    advertise_addr: !secret sonos_host

notify:
  - platform: smtp
    name: "Email"
    sender: !secret smtp_sender
    sender_name: "Homeassistant"
    username: !secret smtp_sender
    password: !secret smtp_sender_password
    recipient: !secret smtp_recipient
    server: !secret smtp_server
    port: !secret smtp_server_port
    encryption: tls

tts:
  - platform: microsoft
    api_key: !secret tts_azure_api_key
    region: westeurope
    language: nl-nl
    type: FennaNeural
