{%- macro airco_icon(entity, output='icon') -%}
    {%- set mappings = {
        'icon': {
            'heat': 'mdi:fire',
            'cool': 'mdi:snowflake',
            'dry': 'mdi:water-percent',
            'fan_only': 'mdi:fan',
            'heat_cool': 'mdi:sun-snowflake-variant',
            'off': 'mdi:snowflake-off'
        },
        'color': {
            'heat': 'orange',
            'cool': 'blue',
            'dry': 'orange',
            'fan_only': 'green',
            'heat_cool': 'green',
            'off': 'grey'
        }
    } -%}
    {%- set output = output if output in mappings else 'icon' -%}
    {%- set fallback = 'grey' if output == 'color' else 'mdi:alert-circle-outline' -%}
    {{- mappings[output].get(states(entity), fallback)
        if entity.startswith('climate.airco') and has_value(entity)
        else fallback -}}
{%- endmacro -%}
